@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap");

/* Asterisk */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Nunito", sans-serif;
}
h1 {
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: white;
}
h2,
h3 {
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: white;
}

/* Header */
header {
  background-color: #8b5a2b;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#nav-bar {
  font-size: 100%;
  letter-spacing: 3px;
  list-style-type: none;
  color: lightgray;
}
#nav-bar > li {
  margin-bottom: 1em;
}
.active {
  border-bottom: 1px solid lightgray;
}
/* Nav-bar styles with drop-down toggle*/
nav {
  position: absolute;
  background-color: #8b5a2b;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}
/* Nav-toggle */
#nav-toggle:checked ~ nav {
  display: block;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}

/* Main Conent */
main {
  flex: 1 0 auto;
  margin-top: 47px;
}
/* Main-photo styles */
#main-photo {
  height: 500px;
  width: 100vw;
  background: url(../images/Optimized-pexels-brett-sayles-1322182.jpg) no-repeat
    center center/cover;
}
#cover-text {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 130%;
  position: absolute;
  top: 375px;
  right: 5px;
  width: 80%;
  min-height: 100px;
  margin: 0;
  padding: 0;
}
/* Footer*/
footer {
  background-color: #8b5a2b;
}
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: white;
}
/* Media query: tablets and larger (768px +) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #nav-bar {
    display: flex;
  }
  #nav-bar > li {
    padding-left: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }
  #logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  /* Main content */
  main {
    margin-top: 79px;
  }
}
/* Large devices (laptops & desktops, 992px +) */
@media screen and (min-width: 922px) {
  #nav-bar a:hover {
    border-bottom: 1px solid lightgrey;
  }
}
/*
@media screen and (min-width: 280px) {
  #paw-image {
    display: none;
  }
}
*/
