@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap");

/* Asterisk */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Nunito", sans-serif;
}

/* Header */
header {
  background-color: #8b5a2b;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 3px 3px #3a3a3a;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: white;
}
#nav-bar {
  font-size: 100%;
  letter-spacing: 3px;
  list-style-type: none;
  color: lightgray;
}

/* Main Conent */
main {
  background-color: white;
  flex: 1 0 auto;
}

/* Footer*/
footer {
  background-color: purple;
}
